/* Imports Red Hat Display from Google Font API */
@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display&display=swap');

body {
  font-family: 'Red Hat Display', sans-serif;
  background-color: #FAFAF6;
}
.card {
  margin: 2rem;
  padding: 0.5rem;
  font-size: medium;
}

#header {
  margin-left: 10px;
  margin-top: 25px;
  margin-bottom:15rem;
  background-color:#a4d948;
  padding:3rem;
  margin:0px;
  margin-bottom:1rem;
}

#chart {
  margin: 1rem;
}
.navbar-brand {
  max-width: 150%;
  height: auto;
  padding: 10px;
}
.navbar {
  font-size: large;
  background-color: #FAFAF6;
  padding: 0px;
}
.nav-pills .nav-item  {
  padding-left: 1rem;
  padding-right: 1rem;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background-color: #a4d948;
}

.nav-pills a {
	color: #FFFF;
	text-decoration: none;
  background-color: rgba(192, 237, 111, .5)
}

#workspace-header {
  	background-image: url("./assets/index.png");
  	background-size: cover;
  	padding: 5rem;
  	background-position: center;
}
#header-text {
    color: #FFFF
}
